.luzRoja{
    margin: auto;
    
    border: 50px solid red;
    border-radius:200%;
    background-color: red;
    width: 5%;
    height: 10%;
    
}

.luzAmarilla{
    margin: auto;
    
    border: 50px solid yellow;
    border-radius:200%;
    background-color: yellow;
    width: 5%;
    height: 10%;
   
    
}.luzVerde{
    margin: auto;
   
    border: 50px solid  darkgreen;
    border-radius:200%;
    background-color:darkgreen ;
    width: 5%;
    height: 10%;
    
}

.containerSemaforo{
 display: flex;
 justify-content: center;

}

.semaforo{
    gap: 10px;
    height: 100%;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:200px ;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #222;
}