.luzRoja{
    margin: auto;
    
    border: 50px solid red;
    border-radius:200%;
    background-color: red;
    width: 5%;
    height: 10%;
    
}

.luzAmarilla{
    margin: auto;
    border: 50px solid yellow;
    border-radius:200%;
    background-color: yellow;
    width: 5%;
    height: 10%;
   
    
}.luzVerde{
    margin: auto;
   
    border: 50px solid  darkgreen;
    border-radius:200%;
    background-color:darkgreen ;
    width: 5%;
    height: 10%;
    
}

.activa{
    box-shadow: 0 0 40px yellow;
}

.activaRed{
        box-shadow: 0 0 40px red;

}

.activaGreen{
        box-shadow: 0 0 40px green;

}

.containerSemaforo{
 display: flex;
 justify-content: center;
 background-image: url("https://static.vecteezy.com/system/resources/previews/002/293/536/non_2x/traffic-light-on-city-streets-background-city-signal-street-sign-illustration-free-vector.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 min-height: 100vh;

}

.semaforo{
    gap: 10px;
    height: 100%;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:130px ;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #222;
}

.poste{
    background-color: #222;
    width: 25px;
    justify-items: center;
    height: 400px;
    flex-direction: column;

}